.row {
  display: flex;
  
}
body {
	background-image: url("https://images5.alphacoders.com/433/433561.png");
}


#title {
	font-size: 30px;
	align-content: center;
	font-weight: bold;
	color: white;
	font-family: "verdana";
}

.column-1, .column-2 {
  flex: 1;
  border:1px solid red;
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: white;
}

.row div img {
  border-radius: 50%;
  width: 150px;
}

h2 {
	font-weight: bold;
	font-size: 15px;
}